{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Products
    {% endif %}
{% endblock %}

{% block content %}
  
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4">
          {% for product in products %}
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a href='{{ product.get_absolute_url }}' class="block relative h-48 rounded overflow-hidden">
                <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
              </a>
              <div class="mt-4">
                <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{ product.brand_name }}</h3>
                <h2 class="text-gray-900 title-font text-lg font-medium"> <a href='{{ product.get_absolute_url }}'>{{ product.name }}</a></h2>
                <p class="mt-1">${{ product.price }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  
{% endblock %}